parameters:
    level: 7
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Method PPBot\Command\SendBookCommand::execute() should return int|void|null but return statement is missing#'
        - '#Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject\|[\w\\]+::[\w\\]+\(\)#'